$color-primary-text: #f5f5f5;
$color-secondary-text: #a8a8a8;
$color-tertiary-text: #737373;

$color-grey-hover: #171717;

$color-primary-icon: #f5f5f5;

$color-blue: #0095f6;
$color-blue-hover: #1877f2;

$color-black: #000000;

$color-grey-button: #363636;

$color-yellow: #f9cf00;
$color-red: #fb3c44;
$color-pink: #fa61ba;
$color-purple: #7638fa;

$nav-medium-width: 24.4rem;
$nav-narrow-width: 7.2rem;
